*~
*.pyc
*.cmi
*.cmo
*.cmx
build
attic
listCSVFiles
writeLine
dumpFile
readFile
listRawTypes
listRawPrefixes
listRawByPrefix
listRawByType
mergeDirs
mergeRawFiles
injectAnswerDump
inject
parseCerts
prepareLinks
checkLinks
removeIsolatedCerts
computeComponents
buildChains
extract-certdata
flagTrust
rateChains
globalStats
versionStats
computeStats
computeBehaviorStats
