<html>
  <head>
    <title>{{ chain.chain_hash | escape }} - {{ chain.built_chain_number }}</title>
  </head>
  <body>
    <h1>{{ chain.chain_hash | escape }} - {{ chain.built_chain_number }} : {{ chain.grade | escape }}</h1>

    <h3>{{ chain.subject | escape }}</h3>

    <table border="1">
      <tr>
        <th>Complete</th>
        <td>{{ chain.complete_str | escape }}</td>
      </tr>
      <tr>
        <th>Trusted</th>
        <td>{{ chain.trusted_str | escape }}</td>
      </tr>
      <tr>
        <th>Ordered</th>
        <td>{{ chain.ordered_str | escape }}</td>
      </tr>
      <tr>
        <th>Chain validity period</th>
        <td>{{ chain.not_before_str | escape }} --- {{ chain.not_after_str | escape }}</td>
      </tr>
    </table>

    <h2>Certificates in chain</h1>

    <table border="1">
      {%- for cert in certs %}
      <tr>
	<td>{{ cert.position_in_msg }}</td>
	<td><a href="{{ '/certs/' + cert.cert_hash }}">{{ cert.subject }}</a></td>
      </tr>
      {%- endfor %}
    </table>

    {% if (unused_certs | count) > 0 %}
    <h2>Unused certificates</h2>

    <table border="1">
      {%- for cert in unused_certs %}
      <tr>
	<td>{{ cert.position_in_msg }}</td>
	<td><a href="{{ '/certs/' + cert.cert_hash }}">{{ cert.subject }}</a></td>
      </tr>
      {%- endfor %}
    </table>
    {% endif %}

    {% if (ips | count) > 0 %}
    <h2>Chain seen {{ ips | count }} times</h2>
    <table border="1">
      <tr>
	<th>Campaign</th>
	<th colspan="2">Location</th>
        <th>Timestamp</th>
        <th>Valid?</th>
        <th>Link to the chain</th>
      </tr>
      {%- for ip in ips %}
      <tr>
	<td>{{ ip.campaign }}</td>
	{% if (ip.name | count) > 0 %}
	<td>{{ ip.name }}</td>
        {% else %}
	<td align="center">-</td>
        {% endif %}
	<td><a href="{{ '/chains/by-ip/' + ip.ip + '/0' }}">{{ ip.ip }}</td>
        <td>{{ ip.timestamp_str }}</td>
        <td>{{ ip.valid_at_timestamp }}</td>
        <td><a href="{{ '/chains/by-hash/' + ip.chain_hash }}">{{ ip.chain_hash }}</a></td>
      </tr>
      {%- endfor %}
    </table>
    {% endif %}

    {% if (alt_chains | count) > 0 %}
    <h2>Alternate chains</h2>
    <ul>
      {%- for alt_chain in alt_chains %}
      <li><a href="{{ '/chains/by-hash/' + chain.chain_hash + '/' + ( alt_chain.built_chain_number | string ) }}">{{ alt_chain.grade }}</li>
      {%- endfor %}      
    </ul>
    {% endif %}

  </body>
</html>
