<html>
  <head>
    <title>{{ title | escape }}</title>
  </head>
  <body>
    <h1>{{ title | escape }}</h1>

    {{ chains | count }} candidates found:

    <table border="1">
      {%- for chain in chains %}
      <tr>
	<td>{{ chain.campaign }}</td>
        {% if (chain.name | count) > 0 %}
	<td>{{ chain.name }}</td>
        {% else %}
	<td align="center">-</td>
        {% endif %}
	<td><a href="{{ '/chains/by-ip/' + chain.ip + '/0' }}">{{ chain.ip }}</a></td>
	<td><a href="{{ '/chains/by-hash/' + chain.chain_hash + '/' + ( chain.built_chain_number | string ) }}">Chain</a></td>
	<td>{{ chain.grade }}</td>
	<td>{% if chain.trusted %}T{% elif chain.complete %}C{% endif %}{% if chain.ordered %}O{% endif %}</td>
	<td>{{ chain.subject }}</td>
      </tr>
      {%- endfor %}
    </table>
  </body>
</html>
